@use '../helpers' as *;
.background-sound__btn {
    position: absolute;
    width: #{rem(40)};
    height: #{rem(40)};
    top: 350px;
    right: 75px;
    background: none;
    border: none;
    font-size: 36px;
}