@use '../helpers' as *;

.road {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: fluid(900, 230);
    height: 110vh;
    background-color: var(--color-grey-road);
    border-left: var(--border);
    border-right: var(--border);
}