@use '../helpers' as *;

.signs {
    position: absolute;

    &__arrow {
        width: fluid(120, 80);
        transform: translate(250px, -195vh);
    }

    &__danger {
        width: fluid(160, 120);
        transform: translate(200px, -290vh);
    }

    &__coin {
        width: fluid(70, 40);
        transform: translate(200px, -110vh);
    }

    &__coin-alt {
        width: fluid(70, 40);
        left: 40vw;
        transform: translate(300px, -130vh);
    }
}