@use '../helpers' as *;

.signs {
    position: absolute;

    &__arrow {
        width: fluid(110, 50);
        height: auto;
        transform: translate(250px, -195vh);
    }

    &__danger {
        width: fluid(120, 60);
        height: auto;
        transform: translate(200px, -290vh);
    }

    &__coin {
        width: fluid(70, 40);
        transform: translate(200px, -110vh);
    }

    &__coin-alt {
        width: fluid(70, 40);
        transform: translate(300px, -130vh);
    }
}