@use '../helpers' as *;

.tree {
    position: absolute;

    &-1,
    &-5 {
        width: fluid(390, 230);
    }

    &-2,
    &-4 {
        width: fluid(360, 220);
    }

    &-3,
    &-6 {
        width: fluid(390, 250);
    }

    &-1 {
       transform: translateY(-15vh);
       left: 71vw;
       z-index: 1;
      
    }

    &-2 {
      transform: translateY(-150vh);
      left: 8vw;
      z-index: 1;
     }

     &-3 {
      transform: translateY(-45vh);
      left: 7vw;
      z-index: 1;
     
     }

     &-4 {
      transform: translateY(-70vh);
      left: 75vw;
      z-index: 1;
     }

     &-5 {
      transform: translateY(-100vh);
      left: 7vw;
       
     }

     &-6 {
      transform: translateY(-125vh);
      left: 72vw;
     }
}