@use '../helpers' as *;

.tree {
    position: absolute;
           z-index: 1;
      

    &-1,
    &-5 {
        width: fluid(390, 230);
    }

    &-2,
    &-4 {
        width: fluid(360, 220);
    }

    &-3,
    &-6 {
        width: fluid(390, 250);
    }

    &-1 {
       transform: translateY(-15vh);
       left: 71vw;
    }

    &-2 {
      transform: translateY(-150vh);
      left: 8vw;
     }

     &-3 {
      transform: translateY(-45vh);
      left: 7vw;
     }

     &-4 {
      transform: translateY(-70vh);
      left: 75vw;   
     }

     &-5 {
      transform: translateY(-100vh);
      left: 7vw; 
     }

     &-6 {
      transform: translateY(-145vh);
      left: 72vw;
     }
}